@import "../../../../site/.vuepress/styles/prism-theme-night-owl.min.css"
@import "../../../../site/.vuepress/styles/style.css"

:root{
  --accent-color: $accentColor;
  --text-color: $textColor;
  --border-color: $borderColor;
  --code-bg-color: $codeBgColor;
  --tag-badge-color: $tagBadgeColor;
  --content-width: $contentWidth;
}
